@inherits LayoutComponentBase

<PageTitle>Payment Journal</PageTitle>

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

@*<a href="https://github.com/icodeintx/paymentjournal" target="_blank">Payment Journal on GitHub</a>*@

<MudLayout>
    <MudAppBar>
        @*<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />*@
        <MudText Align="Align.Left" Class="ml-3">Payment Journal</MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudPaper Width="100%" Class="darkbackground">
            <MudContainer >
                @Body

                <footer class="py-3 my-4">
                    <div class="border-bottom pb-3 mb-3"></div>
                    <p class="text-center text-muted">&copy; 2019-2022 AmaraCode LLC</p>
                </footer>
            </MudContainer>
        </MudPaper>
    </MudMainContent>
</MudLayout>



@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
