@inherits LayoutComponentBase

<PageTitle>Finance Tracking</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            we really aren't sure why we have this top area....
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
