@page "/payment/insert/{BudgetId}"
@page "/payment/edit/{PaymentItemId}"
@*@page "/insert"*@
@using Blazorise

@if(IsValidPaymentItemId())
{
    <h3>Edit Payment</h3>    
}
else
{
    <h3>Insert Payment</h3>
}



<div class="row g-3">
    <div class="col-12 alert-secondary rounded p-3">
        <EditForm Model="PaymentItem" OnValidSubmit="HandleSubmit">
        
            <div class="row">
                <div class="col-12 b-3 p-3">
                    Note:
                    @*<InputText class="full-width-100" @bind-Value="PaymentItem.Note" placeholder="" />*@
                    <TextEdit @bind-Text="PaymentItem.Note" Placeholder="Some text value..." />
                </div>
            </div>
            <div class="row">
                <div class="col-12 b-3 p-3">
                    Date:
                    <InputDate @bind-Value="PaymentItem.CreateDate" />
                </div>
            </div>
        
            @if (HasPayees == false)
            {
                <div class="alert-success b-3 p-3">select "Add New Payee" button to add Payees </div>
            }
            
            

            <div class="row b-3 p-3">
                <div class="col-sm-6">
                    <table  style="width:400px"  class="table table-sm ">
                        <thead>
                            @if (HasPayees)
                            {
                                <tr>
                                    <td>Payee</td>
                                    <td>Amount</td>
                                    <td>Date</td>
                                    <td></td>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach(var payee in @PaymentItem.Payees)
                            {
                                <tr>
                                    <td><InputText style="width: 200px" @bind-Value="payee.Name" /></td>
                                    <td><InputNumber style="width: 100px" @bind-Value="payee.Amount" /></td>
                                    <td><InputDate @bind-Value="payee.Date" /></td>
                                    <td><div class="mouse-pointer" @onclick="() => RemovePayee(payee)"><i class="fa-solid fa-trash-can"></i></div></td>
                                </tr>
                                Counter++;
                            }
                    
                        </tbody>
                    </table>    
                    
                </div>
            </div>
            
            <div class="btn-group mb-3">
                        @*<span class="input-group-text"></span>*@
                        <button type="button" class="btn btn-primary btn-sm" @onclick="() => AddNewPayee()">Add New Payee</button>
                        @*<span class="input-group-text"></span>*@
                        <button type="button" class="btn btn-success btn-sm" @onclick="() => NavToPayments()">Cancel</button>
                        <button type="submit" class="btn btn-danger btn-sm" >Save</button>
            </div>

        </EditForm>
        
    </div>
</div>

