

<MudPaper Width="30%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
    <MudText>Account Legend</MudText>
    <MudSimpleTable Class="bg-trans" Outlined="false" Dense="true" Elevation="0">
        <thead>
            <tr>
                <td><b>Acct</b></td>
                <td><b>Description</b></td>
            </tr>
        </thead>
 
        <tbody>
           @foreach(AccountList item in AccountsList.OrderBy(x => x.AccountNumber))
            {
                <tr>
                    <td><MudText Color="Color.Info">@item.AccountNumber</MudText></td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudPaper>
