@using System.Globalization

<div class="pa-5 ma-2 infobox" style="max-width: 500px">
      <MudStack Row="true">
        <MudSelect T="int" Style="width: 200px" Label="Month" AnchorOrigin="Origin.BottomCenter" SelectedValuesChanged="@MonthClosed" @bind-Value="AppState.MonthYear.Month">
            <MudSelectItem Value="1">January</MudSelectItem>
            <MudSelectItem Value="2">February</MudSelectItem>
            <MudSelectItem Value="3">March</MudSelectItem>
            <MudSelectItem Value="4">April</MudSelectItem>
            <MudSelectItem Value="5">May</MudSelectItem>
            <MudSelectItem Value="6">June</MudSelectItem>
            <MudSelectItem Value="7">July</MudSelectItem>
            <MudSelectItem Value="8">August</MudSelectItem>
            <MudSelectItem Value="9">September</MudSelectItem>
            <MudSelectItem Value="10">October</MudSelectItem>
            <MudSelectItem Value="11">November</MudSelectItem>
            <MudSelectItem Value="12">December</MudSelectItem>
        </MudSelect>
        <MudSelect Style="width: 100px;" T="int" Label="Year" AnchorOrigin="Origin.BottomCenter" @bind-Value="AppState.MonthYear.Year" SelectedValuesChanged="@MonthClosed">
            @foreach (var year in Years)
            {
                <MudSelectItem Value="@year">@year</MudSelectItem>
            }
        </MudSelect>
        <MudButton Variant="Variant.Text" OnClick="SetToday" Color="Color.Primary">Today</MudButton>
    </MudStack>
</div>

